/*StyleSheet Template*/

/*@charset "utf-8";*/

/*opacity:0.2;*/

html{background:url(../images/milkywayfade.jpg);
	background-clip:padding-box;
}

 header{background-color:rgba(0,128,255,0.2);
}
 html, body {
font: 14px "Verdana", Georgia,Serif;
 margin: 0px;
 padding: 0px;
 border: 0px;
 color: #000;
 }
 aside{background-color:rgba(0,128,255,0.2);
 	float:left;
 	width:0px;
 	margin:70px;
 	padding:0px;
}

 	#navlist{position:relative;}
	#linkbar li{margin:0;padding:0;list-style:none;}
	#linkbar li, 
	#linkbar a{ width:85px;height:26px;display:inline-block;}
		
	#home{background:url("../images/asidebar.png") 1px -1px;}
	#home a:hover{background: url("../images/asidebar.png") -88px -1px;}

	
	#sun{background:url("../images/asidebar.png") 1px -39px;}
	#sun a:hover{background: url("../images/asidebar.png") -95px -39px;}

	
	#mercury{background:url("../images/asidebar.png") 1px -77px;}
	#mercury a:hover{background: url("../images/asidebar.png") -95px -77px;}

	
	#venus{background:url("../images/asidebar.png") 1px -115px;}
	#venus a:hover{background: url("../images/asidebar.png") -95px -115px;}

	
	#earth{background:url("../images/asidebar.png") 1px -154px;}
	#earth a:hover{background: url("../images/asidebar.png") -95px -154px;}

	
	#mars{background:url("../images/asidebar.png") 1px -192px;}
	#mars a:hover{background: url("../images/asidebar.png") -95px -192px;}

	
	#jupiter{background:url("../images/asidebar.png") 1px -230px;}
	#jupiter a:hover{background: url("../images/asidebar.png") -95px -230px;}

	
	#saturn{background:url("../images/asidebar.png") 1px -268px;}
	#saturn a:hover{background: url("../images/asidebar.png") -95px -268px;}

	
	#uranus{background:url("../images/asidebar.png") 1px -306px;}
	#uranus a:hover{background: url("../images/asidebar.png") -95px -306px;}

	
	#neptune{background:url("../images/asidebar.png") 1px -344px;}
	#neptune a:hover{background: url("../images/asidebar.png") -95px -344px;}

	
	#pluto{background:url("../images/asidebar.png") 1px -382px;}
	#pluto a:hover{background: url("../images/asidebar.png") -95px -382px;}

	
	/*#email{background:url("../images/asidebar.png") -57px -422px;}
	#email a:hover{background: url("../images/asidebar.png") -57px -422px;}*/

	
	#feedback{background:url("../images/asidebar.png") 1px -458px;}
	#feedback a:hover{background: url("../images/asidebar.png") -95px -458px;}

}
 
 body, p, th, td, ul, li, dd, dt {
 font: 14px "Verdana", Georgia,Serif;
 list-style-type: none;
 }
 h1, h2, h3, h4, h5, h6 {
 font-family: "Verdana", Georgia,Serif; 
 }
 h1 { font-size: 48px;  color:black;}
 h2 { font-size: 36px;  color:black;}
 h3 { font-size: 24px;  color:#FFF;}
 h4 { font-size: 14px;  color:black;}
 h5 { font-size: 12px;  color:black;}
 h6 { font-size: 10px;  color:blue;}
 a:link { color: blue;  color:black;}
 a:visited { color: purple; }
 a:hover { color: yellow; }
 a:active { color: red; }
/*SIDEBAR NAVIGATION*/
	#navigate{
	float:left;
	/*width:100px;  
	margin: 0px; 
	padding: 0px; 
	border: 0px; */
}
/*SECTION ELEMENT*/
	
	#section{
		/*background:url("../images/milkyway.jpg");*/
		background:url(../images/pagehead.jpg)no-repeat;
		background-color:rgba(0,128,255,0.2);

		/*background:url(../images/milkyway.jpg) no-repeat;*/
		/*background-color: yellow;*/
		background-clip:padding-box;
		position:relative;
		float:right;
		margin-right: 200px;
		width:900px;
		height:relative;
		margin-top: 10px;
		padding-top: 20px;
		padding-left:10px;
		padding-right:20px;
		padding-bottom:1px;}
		
/*CONTENT of SECTION ELEMENT*/
	#content{
	-webkit-column-count:2; /* Safari & Chrome */
	-moz-column-count:2; /* Firefox */
	column-count:2; /* Everyone Else */
	-webkit-column-gap:15px;
	-moz-column-gap:15px;
	column-gap:15px;
	-webkit-column-rule:1px outset #FFF;
	-moz-column-rule:1px outset blue;
	column-rule:1px outset blue;
	position:relative;
	left:0px;
		background-image: url(../images/milkyway.jpg): no-repeat;
		background-clip:content-box;
		background-color:rgba(0,128,255,0.0);
		position:relative;
		left:10px;
		right:5px;
		top:10px;
		bottom:relative;
	}
	
	#footer{
		background-color:transparent;
		top:1000px;
		width:900px;
		height:20px;
	}
	#form{
		background-image: url(../images/milkywayfade.jpg): no-repeat;
		float:right;
		margin-right: 500px;
		height:relative;
		margin-top: 70px;
		padding-top: 30px;
		padding-left:10px;
		padding-right:20px;
		padding-bottom:1px;
	}
	#navlist{position:relative;}
	#navlist li{margin:0;padding:0;list-style:none;}
	#navlist li, 
	#navlist a{ width:100px;height:100px;display:inline-block;}

	/*#astro{left:2px;width:100px;}*/
	#astro{background:url("../images/articlesprite.png") 0px 0px;}
	#astro a:hover{background: url("../images/articlesprite.png") 0 -98px;}

	/*#comet{left:-99px;width:100px;}*/
	#comet{background:url("../images/articlesprite.png") -99px 0px;}
	#comet a:hover{background: url("../images/articlesprite.png") -99px -98px;}

	/*#moon{left:-196px;width:100px;}*/
	#moon{background:url("../images/articlesprite.png") -197px 0px;}
	#moon a:hover{background: url("../images/articlesprite.png") -197px -98px;}
	
	
	
	